<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eysa.shapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
		android:name=".MainActivity"
		android:label="@string/app_name"
		android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		
		
		<activity android:name=".MyBidsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".MySalesActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ProductDetailsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".SearchActivity" android:screenOrientation="portrait"/>
        <activity android:name=".FollowersActivity" android:screenOrientation="portrait"/>
        <activity android:name=".AddProductActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BiddingActivity" android:screenOrientation="portrait"/>
        <activity android:name=".CommentsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".StarRatingActivity" android:screenOrientation="portrait"/>
        <activity android:name=".HelpActivity" android:screenOrientation="portrait"/>
        <activity android:name=".GroupDetailsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".InvitePeoplesActivity" android:screenOrientation="portrait"/>
        <activity android:name=".FollowerDetailsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".FilterActivity" android:screenOrientation="portrait"/>

        <activity android:name=".SettingsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ChatActivity" android:screenOrientation="portrait"/>
        <activity android:name=".SellActivity"/>
        <activity android:name=".ProfileDetailsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".CreateGroupAcivity" android:screenOrientation="portrait"/>
        <activity android:name=".ConversationActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ForgotPasswordActivity" android:screenOrientation="portrait"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>


    </application>
	
	
	<uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	

</manifest>